# ignored directories
/node_modules/
/dist/
/.sass-cache/

# ignored files
/package-lock.json
.DS_Store
._*
Thumbs.db
.directory
.sass-cache
.sass-cache/43d65c6106725fb5704dc94c4cb305774a58cae1/grid-layout.scssc
